<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
  </head>

  <body>
    <header>
      {{ partial "header" . }}
    </header>
    <div id="wrapper">
      <div id="content">
        <div id="page-content">
          <h1>{{ .Title }}</h1>
          <article class="post">
            <div class="post-content" id="projects-content">
              {{ if .Params.projects }}
                <h2>Core projects</h2>
                <div id="projects-list">
                  {{ $projects := .Params.projects }}
                  {{ range $i, $e := $projects }}
                    <div class="project-section">
                      <div class="project-img">
                        <img src="{{ .img }}" />
                      </div>
                      <div class="project-info">
                        <div class="project-tile" id="{{ .name }}-tile">
                          <div class="project-text">
                            <span class="project-name">{{ .name }}</span>
                            <span class="project-details">{{ .details }}</span>
                          </div>
                        </div>
                        <div class="project-links">
                          {{ range $k, $v := $e.links }}
                            <a href="{{ $v.url }}" target="_blank">{{ $v.text }}</a>
                          {{ end }}
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>
              {{ end }}

              {{ if .Params.ecosystem }}
                {{ $eco := index .Params.ecosystem 0 }}
		<!-- {{ $pkgs := .Site.Data.ecosystem.packages }} -->
		{{ $pkgs := getJSON "https://scverse.org/ecosystem-packages/ecosystem.json" }}
                <h2 id="ecosystem">Ecosystem</h2>
                <div>
                  <p>{{ $eco.text }}</p>
                </div>
              {{ if $pkgs }}
                <div id="ecosystem-packages">
			<input type="text" id="eco-filter" onkeyup="filterPackages()" placeholder="Search through {{ len $pkgs }} packages" title="Type in your search query">
		  <table id="eco-table">
		    <colgroup>
			    <col class="eco-col-name"/>
			    <col class="eco-col-description"/>
		    </colgroup>
		    <tr class="eco-table-header">
			    <th>Package</th>
			    <th>Description</th>
		    </tr>
			    {{ range $lib := $pkgs }}
			    <tr class="eco-table-row project-links">
				    <th class="eco-package-name"><a href="{{ $lib.url }}" target="_blank">{{ $lib.name }}</a></th>
				    <th class="eco-package-description">{{ $lib.description }}</th>
			    {{ end }}
			    </tr>
		  </table>
                </div>
	      {{ end }}
              {{ end }}

            </div>
          </article>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
