<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
  </head>

  <body>
    <header>
      {{ partial "header" . }}
    </header>
    <div id="wrapper">
      <div id="content">
        <div id="page-content">
          <h1>{{ .Title }}</h1>
          <article class="post">
            <div class="post-content" id="projects-content">
              {{ if .Params.projects }}
                <h2 id="core-projects">Core projects</h2>
                <div id="projects-list">
                  {{ $projects := .Params.projects }}
                  {{ range $i, $e := $projects }}
                    <div class="project-section">
                      <div class="project-img">
                        <img src="{{ .img }}" />
                      </div>
                      <div class="project-info">
                        <div class="project-tile" id="{{ .name }}-tile">
                          <div class="project-text">
                            <span class="project-name">{{ .name }}</span>
                            <span class="project-details">{{ .details }}</span>
                          </div>
                        </div>
                        <div class="project-links">
                          {{ range $k, $v := $e.links }}
                            <a href="{{ $v.url }}" target="_blank">{{ $v.text }}</a>
                          {{ end }}
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>
              {{ end }}

              {{ if .Params.ecosystem }}
                {{ $eco := index .Params.ecosystem 0 }}
                {{ $pkgs := getJSON "https://scverse.org/ecosystem-packages/ecosystem.json" }}
                <h2 id="ecosystem">Ecosystem</h2>
                <div>
                  <p>{{ $eco.text | markdownify }}</p>
                </div>
                {{ if $pkgs }}
                  <div id="ecosystem-packages">
                    <input
                      type="text"
                      id="eco-filter"
                      onkeyup="filterPackages()"
                      placeholder="Search through {{ len $pkgs }} packages"
                      title="Type in your search query"
                    />
                    <table class="table" id="eco-table">
                      <thead>
                        <tr>
                          <th scope="col">Package</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $lib := $pkgs }}
                          <tr class="project-links eco-table-row">
                            <td>
                              <a href="{{ $lib.project_home }}" target="_blank">{{ $lib.name }}</a>
                            </td>
                            <td>{{ $lib.description | markdownify }}</td>
                          </tr>
                        {{ end }}
                      </tbody>
                    </table>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </article>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
