<div id="cover-heading">
  <div id="title">
    <div id="title-text" class="align-top">
      <span id="title-name">{{ .Title }}</span>
      <span id="title-desc">{{ .Description }}</span>
    </div>
  </div>
  <div id="badges">
    <a class="btn btn-light btn-github" href="https://github.com/scverse" target="_blank"> GitHub </a>
    <a class="btn btn-light btn-discourse" href="https://discourse.scverse.org" target="_blank">Discourse</a>
    <a class="btn btn-light btn-zulip" href="http://scverse.zulipchat.com" target="_blank"> Zulip </a>
    <a class="btn btn-light btn-twitter" href="https://x.com/scverse_team" target="_blank"> 𝕏 </a>
    <a class="btn btn-light btn-bluesky" href="https://bsky.app/profile/scverse.bsky.social" target="_blank">
      Bluesky
    </a>
    <a
      class="btn btn-light btn-youtube"
      href="https://www.youtube.com/channel/UCpsvsIAW3R5OdftJKKuLNMA"
      target="_blank"
    >
      YouTube
    </a>
  </div>
</div>
