<div id="cover-heading" class="row w-90 align-middle">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
	<div id="title">
		<div id="title-text" class="align-top">
			<span id="title-name">{{ .Title }}</span>
			<span id="title-desc">{{ .Description }}</span>
		</div>
	</div>
	<div id="badges">
		<!-- <a href="https://github.com/scverse" target="_blank">
			<img src="https://img.shields.io/badge/GitHub-100000?logo=github&logoColor=white&label=%40scverse"/>
		</a>
		<a href="https://discourse.scverse.org/" target="_blank">
			<img src="https://img.shields.io/discourse/posts?color=yellow&logo=discourse&server=https%3A%2F%2Fdiscourse.scverse.org"/>
		</a>
		<a href="https://twitter.com/scanpy_team" target="_blank">
			<img src="https://img.shields.io/twitter/follow/scanpy_team?label=%40scverse&logoColor=black&style=social"/>
		</a>
		<a href="https://www.youtube.com/channel/UCpsvsIAW3R5OdftJKKuLNMA" target="_blank">
			<img src="https://img.shields.io/youtube/channel/views/UCpsvsIAW3R5OdftJKKuLNMA?label=%40scverse&style=social"/>
		</a> -->
		<a class="btn btn-light btn-outline-dark" href="https://github.com/scverse" target="_blank">GitHub</a>
		<a class="btn btn-light btn-outline-dark" href="https://github.com/scverse" target="_blank">Discourse</a>
		<a class="btn btn-light btn-outline-dark" href="https://github.com/scverse" target="_blank">Zulip</a>
		<a class="btn btn-light btn-outline-dark" href="https://github.com/scverse" target="_blank">Twitter</a>
		<a class="btn btn-light btn-outline-dark" href="https://github.com/scverse" target="_blank">YouTube</a>
	</div>
</div>
<div class="col-6">
	<div id="cover-image" class="d-none d-lg-block">
		<img src="img/cover_pca_rendered.svg" class="w-100"/>
	</div>
</div>
</div>