<section id="packages">
  <div class="section-heading">Core packages</div>
  <div class="section-content">
    {{ $jsonURL := "https://scverse.org/ecosystem-packages/packages.json" }}
    {{ $remoteData := resources.GetRemote $jsonURL }}
    {{ if $remoteData }}
      {{ $allPkgs := transform.Unmarshal $remoteData.Content }}
      {{ $corePkgs := slice }}
      {{ range $allPkgs }}
        {{ if or (eq .category "core-datastructure") (eq .category "core-framework") }}
          {{ $corePkgs = $corePkgs | append . }}
        {{ end }}
      {{ end }}
      {{ if $corePkgs }}
        <div class="row" id="packages-list">
          {{ range $corePkgs }}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 py-3">
              <div class="card border-0 bh-light px-3" id="{{ .name | urlize }}-tile">
                <div class="package-icon my-4">
                  {{ if .logo }}
                    <img src="https://scverse.org/ecosystem-packages/{{ .logo }}" alt="Logo for {{ .name }}" />
                  {{ else }}
                    <img />
                  {{ end }}
                </div>
                <div class="card-body package-text p-2">
                  <a
                    href="{{ .documentation_home }}"
                    class="stretched-link"
                    target="_blank"
                    aria-label="Link to the {{ .name }} website"
                  ></a>
                  <h5 class="card-title mb-1 package-name">
                    {{ .name }}
                  </h5>
                  <p class="card-text package-desc">
                    {{ .description }}
                  </p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
    <a href="/packages">
      <div class="more">View all scverse packages</div>
    </a>
  </div>
</section>
