<section id="team">
	<div class="section-heading">
	  Core team
	</div>
	<div class="section-content">
		{{ $peoplepage := index (where $.Site.Pages "Title" "People") 0 }}
		{{ if $peoplepage.Params }}
		{{ $coreteam := index (where $peoplepage.Params.teams "name" "Steering committee") 0 }}
		<div class="section-paragraph">
			<span class="backticked">scverse</span> is currently governed by 
				<div id="team-list">
				    <!-- {{ $members := .Params.team }} -->
					{{ $members := $coreteam.members }}
				    {{ range $i, $e := $members  }}
			    	   <!-- <a href={{ .url }} target="_blank"><div class="team-chip">{{ .name }}</div></a> -->
			    	   <a href={{ .url }} target="_blank">{{ .name }}</a>
			    	   {{ if ne $i (sub (len $members) 1) }}
			    	     {{ if ne $i (sub (len $members) 2) (sub (len $members) 1) }} 
			    	       ,
			    	     {{ else }}
			    	       and
			    	     {{ end }}
			    	   {{ else }}
			    	   	 
			    	   {{ end }}
					{{ end }}
				</div>
			with its projects being developed and maintained by core and project developers.
		</div>
		{{ end }}
		<a href="/people">
			<div class="more">Learn more about scverse community</div>
		</a>
	</div>
</section>
