<!doctype html>
<html>
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <header>
      {{ partial "header" . }}
    </header>

    <script>
      window.onload = function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
      }
    </script>

    <div id="wrapper">
      <div id="content">
        <div id="page-content">
          <h1>{{ .Title }}</h1>
          <article class="post">
            <div class="post-content" id="people-content">
              <p>
                {{ .Params.preface | safeHTML }}
              </p>

              {{ if .Params.teams }}
                {{ range $team := .Params.teams }}
                  {{ if not $team.hide }}
                    <div class="team">
                      <h3>{{ $team.name }}</h3>
                      {{ if $team.text }}
                        <p class="team-text">
                          {{ $team.text | safeHTML }}
                        </p>
                      {{ end }}
                      {{ if $team.members }}
                        <p></p>
                        <div class="team-list">
                          {{ range $person := $team.members }}
                            <a href="{{ .url }}" target="_blank">
                                <div class="person-chip {{ if .isCoreMember }}core-member{{ end }}">
                                    {{ .name }}
                                    {{ if .isCoreMember }}
                                        <div class="additional-info">
                                            <p>{{ .role }}</p>
                                            <p>{{ .email }}</p>
                                            <p>{{ .affiliation }}</p>
                                        </div>
                                    {{ end }}
                                </div>
                            </a>
                        {{ end }}
                        </div>
                      {{ end }}
                    </div>
                  {{ end }}
                {{ end }}
              {{ end }}
              {{ with .Params.contributors }}
                <div class="team">
                  <h3>{{ .name }}</h3>
                  {{ if .text }}
                    <p class="team-text">
                      {{ .text | safeHTML }}
                    </p>
                  {{ end }}
                  {{ if .members }}
                    <p></p>
                    <div class="contributor-list pt-3">
                      {{ range $person := .members }}
                        <a href="{{ .url }}">
                          <img
                            src="{{ .img }}"
                            class="border rounded-circle me-1 mb-1"
                            height="100"
                            width="100"
                            title="{{ .name }}"
                            data-bs-toggle="tooltip"
                            target="_blank"
                            alt="{{ .name }}"
                          />
                        </a>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </article>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
