$greydesc: #777777;
$greyheader: #333333;
$greyheaderhover: #555555;

$tilebg: #F0F0F0;
$tilebg2: #D9D9D9;
$tilebg3: #E0E0E0;
$tilebg4: #F5F5F5;
$tiletext: #333333;
$tiletext2: #555555;
$tiletext3: black;

$anndataorange: #E5864B;
$scanpycerise: #DE367B;
$scanpymandy: #E05559;
$mudatagreen: #4AB274;
$muonaquamarine: #6CF1A1;

$overline: #E0E0E0;
$linkunderline: #AAAAAA;
$backtickbg: #F9F9F9;
$backticktext: #333333;

$navtext: #555555;
$navtexthover: #000000;
$navtextactive: #000000;
$navbg: #FFFFFF00;
$navbghover: $tilebg;
$navbgactive: $tilebg3;

$footerbg: #F0F0F0;
$footertext: #333333;
$footertextmuted: #AAAAAA;

$postlinktext: #333333;

$maxwidth: 800px;
$maxwidthwide: 1000px;
$contentwidth: 80%;
$contentwidthwide: 92%;

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

@mixin person-chip {
	background-color: $tilebg;
	text-decoration: none;
	color: $tiletext;
	padding: .4rem;
	text-align: center;
	border-radius: .5rem;
	transition: all 200ms ease-in-out;
	&:hover {
		color: $tiletext3;
		background-color: $tilebg2;
	}
}

html, body {
	width: 100%;
    height: 100%;

	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
  	-moz-osx-font-smoothing: grayscale;

  	@media (max-width: 50rem), (max-device-width: 40rem) {
  		font-size: 3rem;
  	}
}
body {
    margin: 0;

    display: flex;
    flex-direction: column;

	#wrapper {
	    width: 100%;
	    flex: 1;

		#content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-self: center;
			#cover {
				max-width: $maxwidth;
				width: $contentwidth;
				@media (max-width: 50rem), (max-device-width: 40rem) {
					max-width: $maxwidthwide;
					width: $contentwidthwide;
				}
				#cover-heading {
					margin-top: 40%;
					@media (max-width: 50rem), (max-device-width: 40rem) {
						margin-top: 20%;
					}
					#title {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 2rem;
						#title-text {
							height: 7rem;
							#title-name {
								display: block;
								font-size: 5rem;
								font-family: "Nunito", sans-serif;
								font-weight: 800;
								line-height: 5rem;
								letter-spacing: .4rem;
							  	@media (max-width: 50rem), (max-device-width: 40rem) {
							  		letter-spacing: .1rem;
							  		font-size: 4rem;
							  	}
							}
							#title-desc {
								display: block;
								font-family: sans-serif;
								font-size: 1.1rem;
								color: $greydesc;
							}
						}
					}
					#badges {
						display: flex;
						flex-wrap: wrap;
						gap: 1rem;
						margin: 1rem 0;
					  	@media (max-width: 50rem), (max-device-width: 40rem) {
					  		width: 100%;
					  		a {
					  			flex: 1;
					  			img {
					  				width: 90%;
					  			}
					  		}
					  	}
					}
				}

				section {
					margin-top: 20%;
					.section-heading {
						font-size: 1.3rem;
						text-transform: uppercase;
						color: $greyheader;
						font-weight: 700;
						font-family: sans-serif;
						transition: all 200ms ease-in-out;
						&.clickable-heading:hover {
							color: $greyheaderhover;
							cursor: pointer;
						}
					}
					.section-content {
						p, div {
							font-family: Open Sans, sans-serif;
						}
						span.backticked {
							font-size: 1.2rem;
							line-height: 1.1rem;
						}
						margin-top: 2rem;
						.tiles-list {
				     		display: grid;

							a {
								text-decoration: none;
							}
						}
						.chips-list {
							a {
								text-decoration: none;
								color: inherit;
							}
						}
		    			a {
		    				text-decoration: none;
		    				color: inherit;
		    			
							.more {
								display: inline-block;
								margin: 0;
								font-size: .8rem;
								font-weight: 800;
								font-family: sans-serif;
								color: $tiletext2;
								transition: all 200ms ease-in-out;
			    				padding: 0.5rem;
			    				margin-left: -0.5rem;
				    			border-radius: 0.5rem;
								&:after {
									content: "\232A";
									font-size: .6rem;
									transition: all 200ms ease-in-out;
									padding-left: .2rem;
								}
				    			&:hover {
				    				color: $tiletext3;
				    				background-color: $tilebg;
				    				&:after {
				    					padding-left: .4rem;
				    				}
				    			}
							  	@media (max-width: 50rem), (max-device-width: 40rem) {
							  		background-color: $tilebg4;
							  	}
							}
						}
					}
				}
				#projects {
					margin-top: 40%;
					#projects-list {
  						grid-auto-flow: row;
  						grid-template-columns: 1fr 1fr;
				    	gap: 2rem;
				    	margin-bottom: 2rem;
				    	@media (max-width: 50rem), (max-device-width: 40rem) {
							grid-template-columns: 1fr;
						}
						.project-tile {
			    			display: flex;
			    			flex-direction: row;
			    			padding: 1rem;
			    			height: 5rem;
			    			align-items: center;
			    			background-color: $tilebg;
			    			color: $tiletext;
			    			transition: all 200ms ease-in-out;
			    			border-radius: .5rem;
			    			.project-icon {
			    				transition: all 200ms ease-in-out;
			    				margin: 1rem;
			    				padding: auto;
			    				display: flex;
			    				align-items: center;
			    				img {
			    					width: 4rem;
			    					height: 4rem;
			    				}
			    			}
			    			.project-text {
			    				margin-left: 1rem;
				    			.project-name {
				    				font-size: 1.2rem;
				    				font-family: sans-serif;
				    				display: block;
				    				color: $tiletext;
				    			}
				    			.project-desc {
				    				font-size: 1.0rem;
				    				font-family: sans-serif;
				    				display: block;
				    				color: $tiletext2;
				    			}
			    			}
			    			&:hover {
			    				cursor: pointer;
			    				background-color: $tilebg2;
			    				.project-icon {
			    					transform: scale(1.03);
			    				}
			    			}
			    			&#anndata-tile:hover {
			    				background-color: rgba($anndataorange, .2);
			    			}
			    			&#scanpy-tile:hover {
			    				background-color: rgba($scanpymandy, .2);
			    			}
			    			&#mudata-tile:hover {
			    				background-color: rgba($mudatagreen, .2);
			    			}
			    			&#muon-tile:hover {
			    				background-color: rgba($muonaquamarine, .2);
			    			}
			    		}
					}
				}
				#mission {
					.section-content {
						p {
							font-size: 1.1rem;
						}
					}
				}
				#team {
					.section-content {
						.section-paragraph {
							margin-bottom: 1rem;
							#team-list {
								display: inline;
							}
							p, & {
								font-size: 1.1rem;
							}
							a {
								color: inherit;
								text-decoration: none;
								border-bottom: 1px solid $linkunderline;
								transition: border 200ms, color 200ms;
							
								&:hover, &:active {
									color: black;
									border-bottom: 1px solid black;
								}
							}
						}
					}
				}
				#references {
					p {
						font-size: 1.1rem;
					}
					#refs-list {
						.ref-tile {
							display: flex;
							margin: 0 -.8rem;
							padding: .8rem;
							width: 100%;
							min-height: 1rem;
							align-items: center;
							background-color: #FF000000;
							color: $tiletext;
							transition: all 200ms ease-in-out;
							border-radius: .5rem;
							&:hover {
								cursor: pointer;
								background-color: $tilebg3;
							}
							font-size: 0.9rem;
						}
					}
				}
			}
		}

		span.backticked {
			font-family: Nunito;
		    color: $backticktext;
		    font-weight: 500;
		}

		p > a {
			text-decoration: none;
			color: inherit;
			border-bottom: 1px solid $linkunderline;
			transition: border 200ms, color 200ms;
			&:hover, &:active {
                border-bottom: 1px solid black;
			}
		}
	}

	header {
		height: auto;
		width: 100%;
		margin-top: 1rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;

		#header-content {
			display: flex;
			flex-direction: column;
			max-width: $maxwidth;
			width: $contentwidth;
			@media (max-width: 50rem), (max-device-width: 40rem) {
				max-width: $maxwidthwide;
				width: $contentwidthwide;
			}
			#nav {
				display: flex;
				flex-direction: row;
				gap: 1rem;
				align-items: center;

				#logo-wrapper {
					margin-right: auto;
				}

				a {
					text-decoration: none;
				}

				#nav-button-wrapper {
					display: flex;
					flex-direction: row;
					gap: 1rem;
					align-items: center;
					.nav-button {
						font-family: sans-serif;
						background-color: $navbg;
						border-radius: .5rem;
					 	padding: .5rem .8rem;
					    color: $navtext;
					    cursor: pointer;
					    transition: all 500ms ease-in-out;
					    &:hover, &:active {
					    	background-color: $navbghover;
					    	color: $navtexthover;
					    }
					    &.active {
					    	background-color: $navbgactive;
					    	color: $navtextactive;
					    }
					}
				}

		    	@media (max-width: 50rem), (max-device-width: 40rem) {
					flex-direction: column;
					align-items: flex-start;
					#logo-wrapper {
						margin-right: auto;
					}
					#nav-button-wrapper {
						margin-left: -0.5rem;
						.nav-button {
							padding: .5rem .5rem;
						}
					}
					font-size: 0.8rem;
					max-width: 100%;
				}
			}
		}
	}

	#logo {
		height: 3rem;
		display: flex;
		align-items: center;
		user-select: none;
		cursor: pointer;
		svg {
			width: 3rem;
			#grad-s {
				.grad-s-start {
					stop-color: rgba(255,106,0,1);
				}
				.grad-s-end {
					stop-color: rgba(176,30,233,1);
				}
			}
			#grad-c {
				.grad-c-start {
					stop-color: rgba(176,30,233,1);
				}
				.grad-c-end {
					stop-color: rgba(0,255,188,1);
				}
			}
			path {
				transition: all 500ms ease-in-out;
				&.logo-s {
					fill: url(#grad-s);
				}
				&.logo-c {
					fill: url(#grad-c);
				}
				&.logo-s-0 {
					opacity: 1;
				}
				&.logo-c-0 {
					opacity: 1;
				}
			}
		}
		&:hover, &:active {
			.logo-s-0 {
				opacity: 0 !important;
			}
			.logo-c-0 {
				opacity: 0 !important;
			}
		}
		.logo-name {
			color: black;
			font-size: 1.5rem;
			line-height: 1.5rem;
			font-family: "Nunito", sans-serif;
			font-weight: 600;
			line-height: 5rem;
			letter-spacing: .2rem;
			margin-left: 1rem;
		}
	}


	footer {
		height: auto;
		width: 100%;
		margin-top: 10rem;
		background-color: $footerbg;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;

		#footer-content {
			width: $contentwidth;
			@media (max-width: 50rem), (max-device-width: 40rem) {
				width: $contentwidthwide;
			}
			padding: 2%;

			div {
				max-width: $maxwidth;
				margin: 1rem auto;
				color: $footertext;
				text-align: right;

				a, p {
					margin: .2rem 0;
					font-family: sans-serif;
					font-weight: 500;
					font-size: 1rem;
				  	@media (max-width: 50rem), (max-device-width: 40rem) {
				  		font-size: 0.8rem;
				  	}
				}
				a {
					color: inherit;
					text-decoration: none;
					border-bottom: 1px solid $linkunderline;
					transition: border 200ms, color 200ms;
				}
				a:hover, a:active {
					color: black;
					border-bottom: 1px solid black;
				}
				&.footer-links {
					p {
						color: $footertextmuted;
						a {
							color: $footertext;
							&:hover {
								color: black;
							}
						}
					}
				}
				&.signature {
					margin-bottom: 0;
				}
				&.acknowledgement {
					margin-top: 0;
					p {
						margin-top: 0;
						color: $footertextmuted;
					}
				}
			}
			.footer-links {
				a {
					display: inline-block;
				}
			}
		}
	}
}


#page-content {
	display: flex;
	flex-direction: column;
	max-width: $maxwidth;
	width: $contentwidth;
	margin-top: 3rem;
	@media (max-width: 50rem), (max-device-width: 40rem) {
		max-width: $maxwidthwide;
		width: $contentwidthwide;
		gap: 1rem;
	}
	font-family: sans-serif;
	h1 {
		font-size: 2.5rem;
		font-family: sans-serif;
		font-weight: 800;
	}
	&.items-list {
		a {
			text-decoration: none;
			&:first-of-type {
				margin-top: 3rem;
			}
		}
	}
	.page-item {
		display: flex;
		flex-direction: row;
		font-family: sans-serif;
		
    	@media (max-width: 50rem), (max-device-width: 40rem) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			h2 {
				margin: .5rem 0 !important;
			}
			margin: 0 -.5rem;
			padding: .5rem;
			padding-bottom: 1.3rem;
		}
		
		margin: 0 -1rem;
		padding: 1rem;

		background-color: #FF000000;
		transition: all 200ms ease-in-out;
		border-radius: .5rem;

		&:hover {
			cursor: pointer;
			background-color: $tilebg3;
		}


	  	@media (max-width: 50rem), (max-device-width: 40rem) {
			background-color: $tilebg4;
	  	}

		h2 {
			color: $tiletext;
			margin: 0 0 .5rem 0;
			line-height: 1.5rem;
		}
		span {
			font-size: 1.0rem;
			color: $greydesc;
			line-height: 1.5rem;
		}
		.page-item-date {
			flex: 1;
			line-height: 1.5rem;
		}
		.page-item-content {
			flex: 2;
			display: flex;
			flex-direction: column;
			font-size: 1.0rem;
		}
	}
	.post {
		h1 {
			margin-bottom: 0;
		}
		span {
			font-size: 1.0rem;
			color: $greydesc;
			line-height: 1.5rem;
		}
		.post-subtitle {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			line-height: 1.5rem;
			gap: .5rem;
			.rss-icon {
				width: 1rem;
				height: auto;
				a {
					width: 100%;
					display: flex;
					align-items: center;
					text-decoration: none;
					svg {
						fill: $greydesc;
					}
					&:hover {
						svg {
							fill: $navtexthover;
						}
					}
				}
			}
		}
		.post-content {
			margin: 3rem 0;
			font-size: 1.1rem;
			span.backticked {
				font-size: 1.2rem;
				line-height: 1.1rem;
			}
			p, div {
				font-family: Open Sans, sans-serif;
			}
		}
		h2, h3, h4 {
			font-family: sans-serif;
			margin: 4rem 0 0 0;
		}
		a {
			font-family: sans-serif;
			color: $postlinktext;
			&:hover {
				color: black;
			}
		}
	}
}


// Specific to /libs

#projects-content {
	#projects-list {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		.project-section {
			display: flex;
			flex-direction: row;
			margin: .5rem 0;
			&:first-of-type {
				margin-top: 2rem;
			}
			gap: 3rem;
			.project-img {
				flex: 1;
				img {
					display: block;
					padding: 0.5rem;
					flex: 0 0 auto;
					align-self: center;
					object-fit: scale-down;
					margin: auto;
					max-width: 100%;
					max-height: 225px;
	  				
				}
		    	transition: all 200ms ease-in-out;
		    	@media (max-width: 50rem), (max-device-width: 40rem) {
					display: none;
				}
			}
			.project-info {
				flex: 3;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 0;
				.project-tile {
					// padding: 2rem;
					border-radius: 1rem;
					// box-shadow: 0 .2rem .2rem .05rem rgba(0, 0, 0, .3);
					.project-text {
						.project-name {
							font-family: sans-serif;
							font-size: 1.3rem;
							font-weight: 800;
							color: black;
							display: block;
						}
						.project-details {
							display: block;
							font-size: 1.1rem;
							margin: 1rem 0;
							color: $tiletext;
						}
					}
				}
				// #anndata-tile {
				// 	background-color: rgba(#fa8e4b, .9);
				// }
				// #mudata-tile {
				// 	background-color: rgba($mudatagreen, .7);
				// }
				// #scanpy-tile {
				// 	background-color: rgba($scanpymandy, .7);
				// }
				// #muon-tile {
				// 	background-color: rgba($muonaquamarine, .8);
				// }
			}
		}
	}
	// margin-top: 1rem !important;
	// h2:first-of-type {
	// 	margin-top: 0 !important;
	// }
	.project-links {
		a {
			display: inline-block;
			background-color: $tilebg;
			text-decoration: none;
			font-size: 1.0rem;
			color: $tiletext;
			padding: .4rem .8rem;
			margin: .5rem 0;
			text-align: center;
			border-radius: .5rem;
			transition: all 200ms ease-in-out;
			&:hover, &:active {
				color: $tiletext3;
				background-color: $tilebg2;
			}
		}
	}
}


// Specific to /people

#people-content {
	.team {
		.team-list {
			font-size: 1.1rem;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: .5rem;
			justify-content: flex-start;
			.person-chip {
				@include person-chip;
				font-size: 1.0rem;
				font-family: sans-serif;
			}
			a {
				text-decoration: none;
			}
		}
	}
	// margin-top: 1rem !important;
	// h2:first-of-type {
	// 	margin-top: 0 !important;
	// }
}
