<footer>
  <div id="footer-content">
    <div class="footer-links">
      <p>
        <a href="https://github.com/scverse" target="_blank">GitHub</a>
        |
        <a href="https://discourse.scverse.org/" target="_blank">Discourse</a>
        |
        <a href="https://twitter.com/scanpy_team" target="_blank">Twitter</a>
        |
        <a href="https://www.youtube.com/channel/UCpsvsIAW3R5OdftJKKuLNMA" target="_blank">YouTube</a>
      </p>
    </div>
    <div class="signature">
      <p>scverse core team, 2022</p>
    </div>
  </div>
</footer>
