<footer>
  <div id="footer-content" class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <h5>Pages</h5>
        <ul class="list-unstyled">
          <li><a href="/packages">Packages</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <h5>Governance</h5>
        <ul class="list-unstyled">
          <li><a href="/about/mission/">Mission statement</a></li>
          <li><a href="/about/code_of_conduct">Code of conduct</a></li>
          <li><a href="/about/roles">Roles</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <h5>Join scverse</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/scverse" target="_blank">GitHub</a></li>
          <li><a href="https://discourse.scverse.org/" target="_blank">Discourse</a></li>
          <li><a href="https://scverse.zulipchat.com/" target="_blank">Zulip</a></li>
          <li><a href="https://x.com/scverse_team" target="_blank">X (Twitter)</a></li>
          <li><a href="https://bsky.app/profile/scverse.bsky.social" target="_blank">Bluesky</a></li>
          <li><a href="https://www.youtube.com/channel/UCpsvsIAW3R5OdftJKKuLNMA" target="_blank">YouTube</a></li>
        </ul>
      </div>
    </div>
    <div class="signature">
      <p>scverse® core team, 2025</p>
    </div>
  </div>
</footer>
