<div class="container" style="max-width: 850px;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand row align-items-center m-0" href="/">
        <div id="scverse-logo" class="col"></div>
        <!--{{ if ne .Section `` }}
          <span class="logo-name col m-0 px-3">scverse</span>
        {{ end }}-->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 nav-buttons">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle{{ if eq .Section `packages` }}
                active
              {{ end }}"
              href="/packages"
              id="packages-dropdown"
              role="button"
              aria-expanded="false"
            >
              Packages
            </a>
            <ul class="dropdown-menu" aria-labelledby="packages-dropdown">
              <li>
                <a class="dropdown-item" href="/packages#core-packages">Core</a>
              </li>
              <li>
                <a class="dropdown-item" href="/packages/#ecosystem">Ecosystem</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link{{ if eq .Section `learn` }}
                active
              {{ end }}"
              href="/learn"
              >Learn</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link{{ if eq .Section `people` }}
                active
              {{ end }}"
              href="/people"
              >People</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link{{ if eq .Section `blog` }}
                active
              {{ end }}"
              href="/blog"
              >Blog</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link{{ if eq .Section `events` }}
                active
              {{ end }}"
              href="/events"
              >Events</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle{{ if eq .Section `about` }}
                active
              {{ end }}"
              href="/about"
              id="about-dropdown"
              role="button"
              aria-expanded="false"
            >
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="about-dropdown">
              <li>
                <a class="dropdown-item" href="/about">About scverse</a>
              </li>
              <li>
                <a class="dropdown-item" href="/about/mission">Mission statement</a>
              </li>
              <li>
                <a class="dropdown-item" href="/about/roles">Roles</a>
              </li>
              <li>
                <a class="dropdown-item" href="/about/code_of_conduct">Code of Conduct</a>
              </li>
              <li>
                <a class="dropdown-item" href="/design">Media kit</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a id="join-button" class="nav-link nav-button-hl" href="/join">Join</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
