<!doctype html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <header>
      {{ partial "header" . }}
    </header>
    <div id="wrapper">
      <div id="content">
        <div id="cover" class="mw-10">
          {{ partial "main/chip" . }}
          {{ partial "main/cover" . }}
          {{ partial "main/packages" . }}


          <section id="ecosystem">
            <div class="section-heading">Ecosystem</div>
            <div class="section-content">
              <p class="section-paragraph">
                {{ .Params.ecosystem.text | markdownify }}
              </p>
              <a href="/packages/#ecosystem">
                <div class="more">Continue to scverse ecosystem</div>
              </a>
            </div>
          </section>

          <section id="mission">
            <div class="section-heading">Mission</div>
            <div class="section-content">
              <p class="section-paragraph">
                {{ .Params.mission.text | markdownify }}
              </p>
              <a href="/about">
                <div class="more">Read more about scverse</div>
              </a>
            </div>
          </section>

          <section id="team">
            <div class="section-heading">Team</div>
            <div class="section-content">
              <p class="section-paragraph">
                {{ .Params.team.text | markdownify }}
              </p>
              <a href="/people">
                <div class="more">Learn more about scverse community</div>
              </a>
            </div>
          </section>

          <section id="references">
            <div class="section-heading">References</div>
            <div class="section-content">
              {{ if .Params.references }}
                <p class="section-paragraph">
                  {{ .Params.references.text | markdownify }}
                </p>
                <div class="tiles-list" id="refs-list">
                  {{ $refs := .Params.references.citations }}
                  {{ range $i, $e := $refs }}
                    <a href="{{ .url }}" target="_blank">
                      <div class="ref-tile" id="{{ .id }}-ref-tile">
                        <div class="ref-text">
                          {{ .text }}
                        </div>
                      </div>
                    </a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </section>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
