<!doctype html>
<html>
  <head>
    {{ partial "head" . }}
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" descr="rol"/>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  </head>
  <body>
    <header>
      {{ partial "header" . }}
    </header>
    <div id="wrapper">
      <div id="content">
        <div id="page-content" class="items-list">
          {{ block "upcoming" . }}
          {{ end }}

          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
