{{ define "upcoming" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}


  <!-- Only show if there are any -->
  {{ with where .Data.Pages "Date.Unix" ">" now.Unix }}
    <h2>Upcoming events</h2>
    {{ range . }}
      <a href="{{ .RelPermalink }}">
        <article class="page-item">
          <div class="page-item-date">
            <span>{{ .Date.Format "January 02, 2006" }}</span>
          </div>
          <div class="page-item-content">
            <h2>{{ .Title }}</h2>
            <span>{{ .Description }}</span>
          </div>
        </article>
      </a>
    {{ end }}
  {{ else }}
    <!-- No upcoming events -->
  {{ end }}
{{ end }}

{{ define "main" }}
  <h2>Past events</h2>
  {{ range where .Data.Pages "Date.Unix" "<=" now.Unix }}
    <a href="{{ .RelPermalink }}">
      <article class="page-item">
        <div class="page-item-date">
          <span>{{ .Date.Format "January 02, 2006" }}</span>
        </div>
        <div class="page-item-content">
          <h2>{{ .Title }}</h2>
          <span>{{ .Description }}</span>
        </div>
      </article>
    </a>
  {{ end }}
{{ end }}
