{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <article class="post">
    <div class="post-content" id="join-content">
      <div class="row">
        {{ range $item := .Params.resources }}
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="card border-0 bg-light mb-4" id="{{ $item.id }}">
              <div class="card-body">
                <a href="{{ $item.link }}" class="stretched-link" target="_blank"></a>
                {{/* Icon class travels with the entry, so a new channel is a content change */}}
                <h5 class="card-title{{ with $item.icon }} {{ . }}{{ end }}">
                  {{ with $item.icon }}&nbsp;{{ end }}{{ $item.title }}
                </h5>
                <p class="card-text">
                  {{ $item.text }}
                </p>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div>
        <p>
          {{ .Content }}
        </p>
      </div>
    </div>
  </article>
{{ end }}
